<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://media.geeksforgeeks.org/wp-content/uploads/20240710124623/electronic-devices.jpg');
    height: 100vh;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">KnowSomeNow</h1>
        <h4 class="mb-3">Learn how to use a device</h4>
          <%= link_to "Register", new_user_registration_path, class: "btn btn-outline-light btn-lg", data: { mdb_ripple_init: true } %>
      </div>
    </div>
  </div>
</div>
