// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Make the AI instructions look like actual steps
.card-body {
  p {
    margin-bottom: 0.5rem;
    color: #444;
    line-height: 1.5;
  }
}
// Gives the "Add Device" card a nice feel
.bg-light {
  background-color: #f8f9fa !important;
}

body {
  padding-top: 70px; /* Adjust this value to match your navbar's height */
}
